<div class="form-group">
  <div class="col-md-12">
    <%= f.check_box :newsletter_enabled, :class => 'form_control', :checked => true %> <span class="login-box">Subscribe newsletter</span>
  </div>
</div>